body.custom-highlight-hidden .protyle-wysiwyg span[data-type~='mark'] {
    color: transparent !important;
    transition: color 0.5s ease-in-out;
}

.protyle-wysiwyg span[data-type~=mark] {
    transition: color 0.5s ease-in-out;
}